<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div style="background-color: #eeeeee; color: #696969; padding: 20px; font-family: Arial, Sans-Serif;">
    <!-- todo: new logo
    <header>
        <img src="http://www.menudart.com/content/images/logo2.png" />
        <p style="margin-bottom:1em">
    </header>
    -->

    Hey there @Model.Email,
    <p style="margin-bottom:1em">
    You've just subscribed to @Model.ClassName.
    <p style="margin-bottom:1em">
    You will receive email notifications when any updates to the class page are made by your instructor.
    <p style="margin-bottom:1em">
    Happy Learning,
    <br>
    Your Friends at Class Dart
    <p style="margin-bottom:1em">
    PS. If you didn't mean to subscribe, simply <a href="@Model.UnsubscribeLink">unsubscribe by clicking here.</a>

        <footer>
    <p style="margin-bottom:1em"><br /><br />
    <hr />
    <p style="margin-bottom:1em">
    <a href="mailto:support@classdart.com">Support</a> &middot;          
    <a href="http://twitter.com/classdart" target="_blank">Twitter</a>
    </p>        
    <p style="margin-bottom:1em">&copy; Class Dart 2013</p>
    </footer>
</div>
</body>
</html>

