@{
    ViewBag.Title = "Duplicate Class Name";
}

<center>
<h1>Class name already exists. Choose another one.</h1>
<br />
<a href="#" data-role="button" data-icon="check" data-theme="a" data-rel="back">Ok</a>
</center>

