@{
    ViewBag.Title = "AlreadySubscribed";
}

<center>
<h1>You are already subscribed.</h1>
<br />
<a href="#" data-role="button" data-icon="check" data-theme="a" data-rel="back">Ok</a>
</center>

