@{
    ViewBag.Title = "SubscriberNotFound";
}

<center>
<h1>Subscriber not found.</h1>
<br />
<a href="http://www.classdart.com" data-role="button" data-icon="check" data-theme="a">ClassDart.com</a>
</center>

